body {
    background-color: #24140e;
}

/* 全体のグリッドレイアウト */
#container {
    display: grid;
    grid-template-columns: 20px repeat(8, 200px) 20px;
    grid-template-rows: 60px repeat(6, 100px);
    gap: 12px 20px;
}
h1 {
    grid-row: 1 / 2;
    grid-column: 2 / 8;
    color: snow;
}

#leaflet-map {
    height: 500px;
    width: auto;
    grid-row: 2 / 3;
    grid-column: 3 / 8;
    border: 3px solid #ccc;
}

#widgets-color-select {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#widgets-initialize {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* セレクトボックススタイル */
.form-group label {
    color: snow;
    font-size: 14px;
    margin-left: 8px;
}

.form-control {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    height: 2.5rem;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    margin-right: 8px;
    width: 100px;
}

.form-control:focus {
    outline: 0;
    border-color: #ca82f8;
}

.btn-push {
    width: 140px;
    height: 45px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 4px;
    background: gold;
    color: #24140e;;
    padding: 6px 18px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.9;
}

.btn-push:hover {
    background: orange;
}

.btn-push:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}